.bg_container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png");
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 25px;
}

.input {
    height: 40px;
    width: 250px;
    border-radius: 12px;
    padding: 15px;
}

.head {
    color: #ffffff;
    font-family: Roboto;
}

.err-msg {
    color: #323f4b;
    font-size: 20px;
    text-align:center;
    font-weight: bold;
}

.books-head {
    color: #323f4b;
    padding: 10px;
}